.header-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2% 0 1% 0;
  width: 95%;
}

div.header-img {
  background-image: url('./Assets/Pizza.jpg');
  height: 500px;
  width: 100%;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #F55;
}
p {
  font-size: 1.2rem;
}
div {
  font-size: 1.2rem;
}

.nav-link {
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

nav {
  display: flex;
  align-items: center;
}

.big-text {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px -1px 1px white;
  text-shadow: -1px 1px 1px white;
}